<div class="container">
    <div class="notification is-primary"> 
        <p class="title is-2"> Sustancias </p>
    </div>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th><abbr>Nombres</abbr></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>

        <% if @substance.fuma %>
            <li> Fuma </li>
        <% else %>
            <li> No Fuma </li>
        <%end%>

        <% if @substance.toma %>
            <li> Toma </li>
        <% else %>
            <li> No Toma </li>
        <%end%>
        </th>
        <th> <button class="button is-black">Editar</button> </th>
      </tr>
    </tbody>
  </table>


</div>
