<section class="hero is-White is-medium is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="" href="https://bulma.io">
                    
                        <%= image_tag '/assets/welcome/logo.jpg', size: "150x150" %>
                    
                    </a>
                    <span class="navbar-burger burger is-large" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li class="is-active"><a>Inicio</a></li>
                                <li><a href="">Acerca de</a></li>
                                <li><a href="">Contactanos</a></li>
                            </ul>

                            <span class="navbar-item">

                              <%= link_to signup_path, class: "button is-primary" do %>
                                <span class="icon">
                                  <i class="fas fa-user-plus"></i>
                                </span>
                                <span title="Hello from the other side">Regístrate</span>
                              <% end %>

                            </span>

                            <span class="navbar-item">
                                <%= link_to login_path, class: "button is-primary is-outlined" do %>
                                <span class="icon">
                                  <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span title="Hello from the other side">Iniciar Sesión</span>
                              <% end %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<section>
    <figure class="image is-2by1">
        <%= image_tag '/assets/welcome/principalFinal3.png', size: 120 %>
    </figure>
</section>


<section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>¿Quienes somos? </h4>
                        <p>
                        Excel Dental es una microempresa que proporciona el servicio de salud dental a sus pacientes de alta calidad con productos y materiales de primer nivel a un costo razonable para cualquier paciente. 
                        <br><br><br>
                        </p>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Misión</h4>
                        <p>
                        Lograr  que  la comunidad  obtengan  acceso a la salud dental  digna  y de  calidad  con materiales  de primer  nivel  y a un  costo razonable.
                        <br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4> Visión</h4>
                        <p>
                        Ser un consultorio dental líder y competente en odontología con el propósito de superación y comprometida con el cambio. Satisfacer las expectativas de nuestros pacientes a través de la eficiencia y ética, con equidad, solidez y calidad de vida.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<section>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Servicios
            </h1>

            <h2 class="subtitle">
            Excel Dental ofrece los siguientes servicios:
            </h2>
        </div>
    </div>
</section>
    
            <div class="sandbox">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">CONSULTA DENTAL</p>
                            <p class="subtitle">El costo es $100 y tiene una duración variable.</p>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">TRATAMIENTO PERIODONTAL</p>
                            <p class="subtitle">Cuando hay sangrado de las encías, hay sarro y mal aliento se procede a la remoción del sarro mediante un raspado y alisado de las raíces para prevenir la destruccion del hueso.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">PLACA DENTAL FLEXIBLE</p>
                            <p class="subtitle">Es una placa dental con la diferencia de que no es totalmente rígida como las placas convencionales, esta fabricada con un material biocompatible con la boca que le ofrece cierto grado de flexibilidad</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                           
                        </article>
                    </div>
                </div>
                

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">PLACA DENTAL PARCIAL</p>
                            <p class="subtitle">Este tipo de placas son indicadas cuando hace falta mas de 2 dientes o muelas y se requiere una opción alterna a un puente dental, fabricada con materiales de alta calidad.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">PLACA DENTAL TOTAL</p>
                            <p class="subtitle">Las placas totales son indicadas cuando ya no existe ningún diente en boca ya sea en el maxilar superior o en el maxilar inferior, son realizadas con materiales de alta calidad.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">CORONAS DENTALES DE METAL</p>
                            <p class="subtitle">Las coronas de metal son indicadas en las piezas posteriores por su alta resistencia a la masticación, cuando se busca una opción económica para rehabilitar una pieza dañada.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                           
                        </article>
                    </div>
                </div>

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">CORONAS DENTALES DE ZIRCONIO</p>
                            <p class="subtitle">Coronas de máxima estética al reemplazarse su núcleo de metal por un núcleo de ZIRCONIO le da la máxima estética de igualación de color de el diente y una apariencia mas normal.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">CORONAS DENTALES DE PORCELANA</p>
                            <p class="subtitle">Realización de coronas y puentes dentales para la conservación de piezas muy fracturadas o para agregar un diente que esté ausente en la boca, realizado de porcelana para una mayor estética.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">EXTRACCIONES DENTALES</p>
                            <p class="subtitle">Extracciones dentales, de muelas o dientes con caries de 3er grado, piezas fracturadas o restos radiculares, todo bajo anestesia.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                           
                        </article>
                    </div>
                </div>



                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">BLANQUEAMIENTO DENTAL</p>
                            <p class="subtitle">Aclaramiento dental con geles de última generación que no dañan el esmalte dental, y evitan al máximo la sensibilidad dental, el procedimiento es en una sola cita con duración de 1 hora a 1 1/2 hora.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">EMPASTES (RESINAS)</p>
                            <p class="subtitle">Se remueve la caries dental bajo anestesia, y se rellena la cavidad con una obturación de resina que es un empaste al color del diente.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">LIMPIEZA DENTAL</p>
                            <p class="subtitle">Limpieza dental profesional, con ultrasonido, remoción de placa dentobacteriana y sarro superficial y pulido dental con pasta profilactica.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                           
                        </article>
                    </div>
                </div>


                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">ORTODONCIA</p>
                            <p class="subtitle">Colocación de brackets superiores e inferiores, modelos de estudio y fotografías de comparacion.</p>

                            <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>

                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                        </article>
                    </div>

                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                        </article>
                    </div>
                </div>


                
            </div>
        </section>

</section>





<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-3 is-offset-2">
                <h2><strong>Contactanos</strong></h2>
                <ul>
                    <li><a href="https://goo.gl/maps/sCjVF9JcfT8tZNST8" target="_blank"> <i
                                class="fas fa-map-marker-alt"></i> Av. Revolución #7513,Nuevo Laredo, Tamps, 88120. </a>
                    </li>

                    <li><a href="tel:+528671960471"> <i class="fas fa-phone-square-alt"></i> Tel. (867) 196-0471</a>
                    </li>

                    <li><a href="tel:+528671264856"> <i class="fas fa-phone-square-alt"></i> Tel.Cel. (867) 126-4856</a>
                    </li>

                    <li><a href="#" target="_blank"> <i class="fas fa-envelope"></i> Envíanos un Correo Electrónico</a>
                    </li>

                    <li><a href="https://www.facebook.com/exceldental01" target="_blank"> <i
                                class="fab fa-facebook-square"></i> Vísitanos en Facebook</a>
                    </li>
                </ul>
            </div>
            <div class="column is-4">
                <h2><strong>Horarios</strong></h2>
                                <ul>
                    <li>
                    Lunes (10.00 a.m - 19.00 p.m)
                    </li>

                    <li>
                    Martes (10.00 a.m - 19.00 p.m)
                    </li>

                    <li>
                    Miércoles (10.00 a.m - 19.00 p.m)
                    </li>
                    
                    <li>
                    Jueves (10.00 a.m - 19.00 p.m)
                    </li>

                    <li>
                    Viernes (10.00 a.m - 19.00 p.m)
                    </li>

                    <li>
                    Sábado (10.00 a.m - 19.00 p.m)
                    </li>

                    <li>
                    Domingos (Cerrado)
                    </li>
                </ul>
            </div>

        </div>
        <script src="../js/bulma.js"></script>
</footer>

<script type="text/javascript">
    (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);

        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
</script>