<link href="/assets/stylesheets/welcome.scss" media="screen" rel="stylesheet" />
<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  
  <a class="" href="">
      <!-- <img src="<=% asset_path '../welcome/Imagenes/logo.jpg' %>" width="112" height="28">-->
      <%= image_tag '/assets/welcome/logo.jpg', size: 120 %>
    </a>


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Inicio
      </a>

      <a class="navbar-item">
        Acerca de
      </a>

       <a class="navbar-item">
        Contactanos
      </a>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to('Regístrate', signup_path, class: 'button is-primary') %>
          <%= link_to('Iniciar Sesión', login_path, class: 'button is-link is-light') %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="principal">
  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</div>

</div>


