<div class="container">
    <div class="notification is-primary"> 
        <p class="title is-2"> Enfermedades (Opcional)</p>
    </div>

    

    <div class="field">
        <label class="label is-medium">
            ¿Usted padece de alguna Enfermedad?
            <input type="checkbox" name="checEnfermedad" id="checEnfermedad" onchange="comprobar();">
        </label>

        <div class="control">
            <input class="input is-primary" type="text" value="Ninguna" name="text" id="boton" readonly>
        </div>
    </div>

    <br>
    
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary">Guardar Enfermedades</button>
        </div>
    </div>
        

</div>


<script>
    function comprobar()
    {   
        if (document.getElementById("checEnfermedad").checked)
        {
            document.getElementById('boton').value = "";
            document.getElementById('boton').readOnly = false;
            document.getElementById('boton').placeholder = "Ej. Presión Alta, Presión Baja, Diabetes";
        }
            
        else
        {
            document.getElementById('boton').readOnly = true;
            document.getElementById('boton').value = "Ninguna";
        }
        
            
    }
</script>