<div class="container">
    <div class="notification is-primary"> 
        <p class="title is-2"> Enfermedades </p>
    </div>
  
  <th>  
    <button class="button is-outlined">
      <%= link_to "Volver Expediente Médico", controller: "welcome", action: "show", id: @patient.id%>
    </button>
  </th>

  <br> <br>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th><abbr>Nombres</abbr></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th> <%= @disease.respuesta%> </th>
        <th> <button class="button is-outlined">
            <%= link_to "Editar", controller: "diseases", action: "edit", id: @disease.id%>
        </button>
        </th>
      </tr>
    </tbody>
  </table>


</div>
