<div class="container">
    <div class="notification is-primary"> 
            <p class="title is-2"> CONFIRMACIÓN DE ELIMINACIÓNDE PACIENTE Y EXPEDIENTE MÉDICO </p>
    </div>
    
    
    <div class="container is-max-desktop">
        
        <h1 class="subtitle is-3">
        ¿Desea Eliminar el Paciente <%= @patient.nombres%>  <%= @patient.apellidos %>?  
        </h1>

        
        
        <%= link_to 'Cancelar Operación', :back , :class => 'button is-outlined'%>
        
        <%= link_to 'Eliminar Paciente y Expediente Médico', {action: 'destroy', id: @patient.id} , :class => 'button is-danger', :id => 'botonEliminar', :name => 'botonEliminar' %>

    </div>
    
</div>

<script>
    function comprobar()
    {   
        if (document.getElementById("checDelete").checked)
        {

        }            
        else
        {

        }
    }
</script>